<a href="https://colab.research.google.com/github/Fushiguro19/Python-basics-practice/blob/Python-colab/Python%20learning%20colab/Some_imp_python_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Some basic Functions  : 

# all() : takes in any iterable as an input

#list
l = [1,2,3]
print(all(l)) #taking the list l as an input. Checks if all elements r true in l.

li = [0,0,False]
print(all(li)) #Since all elements r not true, all(li) returns False

# tuples
t = (1,2,3)
print(all(t))

t = (True,0,0)
print(all(t))

#similarly for sets
#dict

d = {1 : 'a' , 0 : 'b'}
print(all(d))  # all() considers the keys to determine True or False. Since one of the keys is 0 here, the returned value is False.

True
False
True
False
False

In [ ]:
# next function enumerate()

l = [1,2,3,4]
for a,i in enumerate(l, start = 5) :   ## start changes the numbering of elements only at output not in the og iterable.
  print(a,i)

print(list(enumerate(l)))  ## returns the list of tuples with a pair of index and its element

5 1
6 2
7 3
8 4
[(0, 1), (1, 2), (2, 3), (3, 4)]

In [ ]:
## lambda function

# syntax ===  lambda argument(s) : expression

print((lambda x : x*2) (12))   ##lambda takes in x as argument and performs x*2, the value of x mentioned is 12

#lambda with multiple arguments

(lambda x,y : x+y)(3,4)

24

7

In [ ]:
## next comes filter()

## filters the elements of a list on the basis of a condition

a = [1,2,3,4]
b = filter(lambda x : x%2 == 0, a) 
print(list(b))

[2, 4]

In [ ]:
## Map() 

##applies a condition on the elements of a list

z = [1,2,3,4]
print(list(map(lambda x : x*2, z)))
# the elements of z are multiplied by 2

[2, 4, 6, 8]

In [ ]:
##reduce()

## applies a condition on the first 2 elements of an iterable and generates a partial result. That result and third element are then the next 2 elements.
## for ex : in a list [1,2,3], 1+2 gives 3 which is then added to 3 giving 6 and so on ........
from functools import reduce

z = [1,2,3]
print(reduce(lambda x,y : x*y,z))

6

In [4]:
# zip()

#input : iterables or containers
#output : A single iterator object with mapped values from input iterables

a = [1,2,3]
b = ['a','b','c']
c = zip(a,b)
for a in c : 
  print (a)

# first values of both lists mapped together, then second values and so on......

(1, 'a')
(2, 'b')
(3, 'c')