<a href="https://colab.research.google.com/github/Fushiguro19/Python-basics-practice/blob/main/%23100daysofcode/_1_100_(_args_and_kwargs)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## all about unpacking and packing arguments in python (aka *args and **kwargs)

a,*_ = [1,2,3,4]
print(_)
print(a)

a , b = {'a' : 1, 'b' : 2}
print(a,b)

[2, 3, 4]
1
a b

In [ ]:
a = (1,2,3)
*b, = (1,2,3)  

""" * before b tells that it can take any no of elements and comma after b tells that it is a tuple ready to take any no of elements """

*c, = [1,2,3]
print(b)
print(type(b))
print(type(c))

[1, 2, 3]
<class 'list'>
<class 'list'>

In [ ]:
def show(*a) : 
  print(a)

l = [1,2,3]
show(l)   ## the whole list is passed as a single element and stored in tuple "a"

show (*l)   ## each element of list is stored individually in tuple "a"

([1, 2, 3],)
(1, 2, 3)

In [ ]:
#Sum of 2 numbers using *args

def sum(*a) : 
  s = 0
  print(type(a))  ##This lines tells us that the elements passed as arguments will be packed in a tuple and assigned to "a"
  for i in a:     ## Accesses each element from tuple "a"
    s += i
  return(s)

print(sum(1,3,4,6,7))  # 5 elements passed as arguments will be combined in a tuple and assigned to "a"

l = [1,2,3,4]
print(sum(*l))   ## Each element of list "l" is unpacked/accessed and passed as an individual argument . All the elements are then assigned to "a"
print(sum(l))    ## Throws an error since "l" is passed as a list rather than individual elements.

<class 'tuple'>
21
<class 'tuple'>
10
<class 'tuple'>

TypeError: ignored

In [ ]:
# positional vs keyword argument

def sum (a, b = 2) :
  return(a+b)

print(sum(3))  
""" positional argument (here "a") requires a value to be passed 
whereas keyword argument like "b" doesn't necessarily need a value, it can use it's default value(here 2) """

sum(3, 4) ## here we have passed a value for b as well. 
## For keyword arguments, passed value >>>>>>> default value (if a value is passed)

7

In [ ]:
def sum(a,b, *c) : 
  s = a+b
  for i in c :
    s *= i
  return(s)

sum(1,2,3,4,2)

72

In [ ]:
## **kwargs or packing unpacking with keyword arguments
## **kwargs works for mapping 

def show(**kwargs) : 
  print(kwargs)

d = {'name' : 'sonakshi', 'class' : '10'}
show(**d)
show (name = 'sonakshi', std  = 10)

{'name': 'sonakshi', 'class': '10'}
{'name': 'sonakshi', 'std': 10}

In [3]:
## Merging dictionaries with **kwargs


d = {'n' : 'sonakshi', 'std' : '10'}
x = {'car' : 'honda' , 'place' : 'california'}
z = {**d,**x}

##Merging sequences with *args
s = [1,2,3]
t = (4,5,6)
u = (*s,*t, 7 ,8)

print(u)

print(z)

(1, 2, 3, 4, 5, 6, 7, 8)
{'n': 'sonakshi', 'std': '10', 'car': 'honda', 'place': 'california'}